.container {
  display: flex;
  flex-direction: column;
  gap: var(--component-stacked-image-container-gap);
}

.imageWrap {
  position: relative;
  border-radius: var(--component-stacked-image-border-radius);
  overflow: hidden;
}

.image {
  display: block;
  width: var(--primitive-layout-full);
  height: var(--primitive-layout-auto);
  aspect-ratio: 5 / 2;
  object-fit: cover;
}

.imageTitle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--space-10x) var(--grid-edge);
  color: var(--semantic-color-text-reverse);
  text-shadow: var(--primitive-shadow-text-overlay-geometry) var(--semantic-color-shadow-text-overlay);
}

.caption {
  display: flex;
  flex-direction: column;
  gap: var(--component-stacked-image-caption-gap);
}

.heading {
  color: var(--semantic-color-text-primary);
}

.body {
  color: var(--semantic-color-text-secondary);
}
